@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Roboto:ital,wght@1,300&display=swap');
*{
    box-sizing: border-box;
}
html, body{
    height:100%;
    margin:0;
    padding: 0;
}
header{
    font-family: 'Pirata One', cursive;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
    background-color: black;
    height: 100px;
    font-size: 3rem;
}
main{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.nametag-body{
    position: relative;
    background-color: #cd9450 ;
    width: 400px;
    height: 264px;
    border-radius: 25px;
}
.instructions{
    font-family: 'Roboto', sans-serif;
}
.text-area{
    text-align: center;
}
.hello{
    font-size: 3.5rem;
    color: white;
    font-family: sans-serif;
    margin: 0;
}
.smile {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    position:absolute;
    left: 0px;
    margin:12px;

    /* transform: rotate(-20deg); */
}
.spin{
    animation: rotation 5s infinite linear;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    position:absolute;
    left: 0px;
    margin:12px; 
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.my-name-is{
    font-size: 1.8rem;
    color: white;
    font-family: sans-serif;
    margin: 0;

}
.name-display{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 30%;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 1.7rem;
    margin-top: 10px;
}
.button{
    margin: 3px;
    color:white;
    background-color:rgb(247, 179, 8);
    border: none;
    border-radius: 5px;
    height: 30px;
    font-weight: bold;
    font-family: sans-serif; 
    cursor: pointer;  
}
.magic-button{
    border:none;
    border-radius: 5px;
    height:30px;
    font-size: 1rem;
    color: white;
    background-color: rgb(24, 54, 174);
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;

}
    

footer {
    font-family: 'Pirata One', cursive;
    height: 100px;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
    font-size: 3rem;
    color: white;
}

aside{
    font-family: 'Pirata One', cursive;
    height: 80%;
    background-color:#f1f1f1;
    color:black;
    position: absolute;
    right: 0px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 2rem;
}

